*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
}
.body{
    overflow: hidden;
}
.dark{
    background-color: #202020;
}
.lines{
    font-size: xx-large;
}
.logotext{
    margin-left: -30px;
}
button{
    outline: none;
    border: none;
}
input{
    outline: none;
    border: none;
    
}
.offcanvas-body {
    overflow: hidden;
}
.side {
    cursor: pointer;
}

